@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  box-sizing: border-box;
}



.pokemonList {
  background-color: #f0ebe3;
  margin-top: 100px;
}

.pokemon-header {
  font-size: 40px;

  text-align: center;
  border-top: 2px solid #576f72;
  border-bottom: 2px solid #576f72;
  max-width: 50%;
  border-radius: 3%;
  margin: auto;
  color: #576f72;
  padding: 20px 0;
}

.modal-content {
  text-align: center;
  text-transform: capitalize;
  background-color: #f0ebe3;
}

.modal-footer {
  border: none;
}

.modal-header {
  background-color: #576f72;
  color: white;
}

.modal-img {
  width: 60%;
  height: auto;
}

.list-group-item {
  display:block;

  text-align: center;
  height: 150px;

  border-radius: 5px;
  background-color: #e6e6e3;
  background-image: url('../img/pokeball.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}


.list-container {
  text-align: center;
  padding: 3%;
}
.list-group {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  gap:1rem;
  margin-top:1rem;
}
.navbar.navbar-expand-sm.navbar-dark.fixed-top {
  background-color: #576f72;
}
#navbarNav{
  justify-content: space-evenly;
}

.nav-link {
  font-size: 20px;
text-align:center;
  margin: 0 0.8em;
  
}

.btn.btn-secondary {
  margin:2.5em auto;
  text-transform: uppercase;
  background-color: #576f72;
}
.btn.btn-secondary:hover {
  color: #ffffff80;
}
