.pokemonList {
  background-color: rgb(77, 122, 123);
  margin-top: 80px;
}

.pokemon-header {
  font-size: 40px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
  border: 5px solid black;
  max-width: 300px;
  margin: 10px auto 10px auto;
  border-radius: 50%;
  background-color: #e6e6e3;
}

.modal-content {
  text-align: center;
  text-transform:capitalize;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.modal-header{
  background-color:rgb(77, 122, 123);
  color:white;
}


.list-group-item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 185px;
  margin: 10px;
  background-color: #e6e6e3;
}

.list-container {
  column-count: 3;
  column-width: 250px;
}
.list-group {
  align-items: center;
  margin-top: 8px;
}
.navbar.navbar-expand-sm.navbar-light.fixed-top{
  background-color:gold;
}

.nav-link{
  font-family:Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  
}

.btn.btn-primary{
  font-family:Comic Sans MS, Comic Sans, cursive;
  text-transform:capitalize;
  background-color:#9B5125;
}
